* {
    padding: 0;
    margin: 0;
}

.Slider {
    height: 100vh;
    margin: auto;
    width: 100%;
    position: relative;
    overflow: hidden;

}

.slide {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.50s;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.box {
    position: absolute;
    bottom: 0;
    height: 100px;
    top: 0;
    overflow: hidden;
    bottom: 0;
    height: 100%;
    width: 30%;
    background-color: #000000f2;
    box-shadow: 20px 0px 20px 9px #000000f2;
    display: flex;
    align-items: end;
}

.box::after {
    content: "";
    height: 100%;
    width: 100%;

    position: absolute;
    transform: rotateZ(-60deg);

    right: -50px;
    top: -230px;
    background: rgba(39, 39, 39, 0.103);
}

.Number-DIV {
    position: absolute;
    top: 100px;
}

.AniName {
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.box p {
    color: white;
}

.Box_D {
    margin-bottom: 40px;
    margin-left: 10px;
}

.small-d {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.952);
    margin-left: 10px;
    font-weight: bolder;
    font-family: Gruppo;
    background: rgb(0, 38, 255);
    padding: 6px;
    border-radius: 10px;

}

.t {
    background-color: rgba(241, 15, 15, 0.884);
}

.det {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.DesCrip {
    font-family: Roboto;
    margin-bottom: 20px;
    line-height: 25px;
    color: rgb(214, 214, 214);
}

.watch-button {
    height: 50px;
    width: 50px;
    background: transparent;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    transition: all 0.30s;
}

.watch-button img {
    object-fit: cover;
}

.watch-button:hover {
    opacity: 0.9;
}

.watch-button:active {
    opacity: 0.6;
}

.watch-list {
    height: 50px;
    width: 50px;
    background-color: rgba(23, 216, 142, 0.842);
    border: 0;
    cursor: pointer;
    transition: all 0.15s;
    border-radius: 10px;
}

.but-divs {
    display: flex;
    column-gap: 20px;
}

.watch-list:hover {
    opacity: 0.8;
    background: rgba(12, 196, 125, 0.842);
}

.watch-list:active {
    opacity: 0.6;
}

.number-List {
    margin-bottom: 40px;
    font-size: 20px;
    color: rgba(245, 245, 245, 0.63);
    font-family: Roboto;
}

.ep {
    background: rgb(27, 88, 78);
    font-family: Roboto;
}

@media screen and (min-width:300px) and (max-width:900px) {
    .DesCrip {
        display: none;
    }
    .AniName {
        font-size: 20px;
    }
    .box {
        width: 40%;
    } 
    .Box_D {
        margin-bottom: 10px;
    }
    .watch-list , .watch-button {
        width: 30px;
        height: 30px;
    }
    .det span {
        font-size: 10px;
        padding: 3px;
    }
    .number-List {
        font-size: 15px;
    }
}
@media screen and (min-width:300px) and (max-width:830px) {
    .Slider {
        height: 400px;
    }
}
@media screen and (min-width:300px) and (max-width:600px) {
    .box {
        width: 50%;
    }
}