@media screen and (min-width:300px) and (max-width:400px){
    .Video-Section {
        flex-direction: column;
        height: 700px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .con-tainer {
        margin-left: 0;
        width: 100%;
        height: 250px;
    }
    .Episodes {
        width: 100%;
        margin-right: 0;
    }
    .ep-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        overflow-y: scroll;
    }
    .info {
        margin-top: 300px;
        flex-direction: column;
        width: 95%;
        padding: 10px;
        position: relative;
    }
    .Nothing2 {
        position: absolute;
        top: -300px;
        left: 0;
        right: 0;
        justify-content: center;
        display: flex;
        align-items: center;
       
    }
    .Ssection {
        width: 100%;
    }
    .Description {
        width: 100%;
    }
    .Nothing {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   

}
@media screen and (min-width:1288px)  {
    .info {
        justify-content: space-between;
    }
    .Video-Section {
        justify-content: space-between;
        
    }
}