.abt-site {
    height: fit-content;
    width: 1;
    
    display: flex;
    justify-content: space-around;
    align-items: start;

}
.p-container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: fit-content;
    flex: 1;
    border-radius: 10px;
    

}

.title {
    margin-left: 10px;
    font-family: Gruppo;
    font-size: 28px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}
.question1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    margin-left: 10px;

}
.description {
    flex: 1;
    margin-left: 10px;
    line-height: 20px;
    font-family: Spectral;
    font-size: 18px;
}
.container2 {
    width: 1;
    height: 1;
    display: flex;
    flex-direction: column;
} 
.question2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;

}
.description2 {
   flex: 1;
    font-family: Spectral;
    font-size: 16px;
}
.m-div {
    flex: 1;
    cursor:pointer;
    margin-left: 60px;
    border-radius: 10px;
    border-left: 1px solid blue;
    box-shadow: -2px 2px 3px rgba(97, 93, 93, 0.34);
    margin-bottom: 15px;
    padding-left: 10px;
    transition: translate 1s;
}
.m-div:hover {
  translate : -30px ;
    box-shadow: -2px 2px 3px rgba(32, 19, 211, 0.669);
}
.video-js2 {
    width: 98%;
    height: 98%;
    object-fit: cover;
}
.main-container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.ReviewS {
    position: relative;
    margin-left: 20px;
    max-width: 460px;
    flex: 1;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-right: 1px blue solid;
    border-radius: 10px;
    border-left: 1px solid blue;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: space-between;
    
}
.ReviewS-c {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 10px;
    width: 90%;
    padding: 20px;
    border-radius: 15px;
    padding-top: 0;
    border-bottom: 1px solid rgb(0, 208, 255);
}
.img-dp {
    width: 180px;
    height: 70%;
    border-radius: 50%;
}
.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 1px blue solid;
}
.pi-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   

}
.nameprofile {
    margin: 0;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.desc {
    flex: 1;
    margin: 0;
    margin-left: 10px;
    margin-top: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
.r-vtitle {
    top: 0;
    background-color: blue;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    position: absolute;
}
.r-rv {
    margin-top: 20px;
}
.he-ader {
    flex: 1;
}
