body {
    padding: 0;
    margin: 0;
    background-color: rgb(65, 65, 65);
}

.container,
.container2,
.container3,
.FetchF,
.form5 ,.formapi {
    padding: 20px;
    background: rgba(0, 0, 0, 0.76);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}

p {
    color: white;
}

.container div, 
.container2 div,
.container3 div,
.form5 div ,.formapi div,.FetchF div{
    width: 80%;
    min-width: 280px;
}

.container3 div {
    flex-direction: column;
}

input,
textarea {
    border: 1px solid blue;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 20px;
    outline: none;
    width: 100%;
    min-width: 200px;
}

textarea {
    height: 100px;
}

.Genre-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
}

.Genre-list span {
    color: rgb(0, 255, 0);
    border: 1px solid green;
    border-radius: 5px;
    padding: 4px 6px 4px 6px;
    cursor: pointer;
}

.Genre-list span:hover {
    opacity: 0.8;
    color: white;
}

.Genre-list span:active {
    opacity: 0.5;
    background: rgb(28, 247, 28);
    color: rgb(0, 0, 0);
}

.Search-Box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    column-gap: 10px;
}

.upLoad,
.upDate,.Fetch,
.update-existing,
.BulkAdd , .BulkAPI
{
    background-color: rgb(0, 255, 0);
    border: 0;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.upDate {
    background: rgb(255, 0, 255);
}

.BulkAdd {
    background: rgb(255, 0, 76);
}
.BulkAPI {
     background: rgb(114, 10, 41);
} 

.upDate:hover,.BulkAPI:hover
.upLoad:hover,
.update-existing:hover,
.BulkAdd:hover {
    opacity: 0.8;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.button-div button {
    color: white;
    border-radius: 5px;
    height: 30px;
    background: rgb(30, 139, 30);
    border: none;
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(255, 255, 255, 0.212);
}

.button-div button:hover {
    opacity: 0.8;
}

.button-div button:active {
    opacity: 0.5;
    box-shadow: none;
}

select {
    height: 30px;
    width: 100px;
    outline: 0;
    color: white;
    border: 1px solid blue;
    background: transparent;
}

option {
    color: white;
    background-color: black;
    border: 0;
}