
.header-div {
    z-index: 200;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height:70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-color: rgba(57, 100, 255, 0.575);
    border-bottom-style: solid;
    background-color: black;
}
.first-section {
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 10px ;
}
.logo-div {
    width: 50px;
    margin-left: 5px;
}
.logo {
    width: 100%;
    object-fit: cover;
    filter: brightness(3);
    
}
.name {
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 28px;
    font-family: Gruppo  ;
    font-weight: 600;
}
.slogan {
    font-family: Tenali Ramakrishna;
    color: rgba(240, 232, 232, 0.911);
    font-size: 14px;
    margin: 0;
}
.first-section-a {
    text-decoration: none;
}
.first-section-a:hover {
    opacity: 0.9;
}
.first-section-a:active {
    opacity: 0.8;
}
.Second-Section {
    margin-right: 10px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    align-items: center;
    margin-left: 10px;
}
.random {
    font-size: 16px;
    font-family: Gruppo;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(2, 57, 175);
    cursor: pointer;
    transition: background-color 0.15s , opacity 0.15s , font-weight 0.15s;
    font-weight: 600;

}
.random:hover {
    background-color: rgba(3, 58, 121, 0.808);
    font-weight: bolder;
}
.random:active {
    opacity: 0.8;
}

.profile-icon {
height: 50px;
width: 50px;
border-radius: 50%;
cursor: pointer;
background-color: white;
border-color:  rgb(2, 57, 175);
border-width: 2px;
border-style: solid;

}
.Search-Box-Area {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 500px;
}
.searchbox {
    height: 32px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding-left: 14px;
    border: 2px solid rgba(11, 133, 255, 0.654);
    color: rgb(255, 255, 255);
    font-size: 14px;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.589);
    width: 0;
    
}
.searchbox:focus {
    margin: 0;
    outline: 0;
}
.search-button {
    height: 38px;
    width: 35px;
    background-image: url(/Website/icon/search.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: 2px solid rgba(11, 133, 255, 0.654);
    margin-left: -2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.searchbox::placeholder {
    color: rgba(255, 255, 255, 0.801);
}
.main-body-div , .Rec-div  {
    
    padding-right: 0;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-top: 80px;
    width: 100%;
    height: fit-content;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    row-gap: 20px;
    column-gap: 20px;
    background-color: rgba(70, 70, 70, 0.774);
}

.profile {
    box-shadow: 2px 2px 5px rgba(93, 102, 117, 0.735);
    display: flex;
    flex-direction: column;
    height: 300px;
    cursor: pointer;
    background-color: black;
    border-radius: 15px;
    width: 165px;
}               
.image-div {

    flex: 1;
    height: 200px;
    flex-direction: row;
    justify-content: center;
    display: flex;
    border-radius: 15px;
    border: 1px solid rgba(6, 6, 112, 0.631);
    max-height: 200px;
}
.poster {
    border-top-right-radius:15px ;
    border-top-left-radius: 15px;
    width: 100%;
    height: 100%;
    
}
.Title-div {
 
  height: fit-content;
  margin-top: 5px;
  align-items: center;
  display: flex;
}
.Title-div p {
    color: white;
    margin: 0;
    
}
.Title {
    margin-left: 4px;
}
.ratings-div {
    border: 2px solid rgb(0, 38, 255);
    margin-top: 4px;
    height: 16px;
}
@media (max-width:300px) {
    .main-body-div , .Rec-div {
        display: flex;
        flex-direction: column;
        
        align-items: center;
        justify-content: center;
    }
     .random {
        font-size: 0;
        width: 0;
        height: 0;
        color: transparent;
        background-color: transparent;
        border: 0 none;
        margin: 0;
       }
    .Second-Section {
        justify-content: flex-end;
        width: 60px;
    }
}
@media (min-width:301px) and (max-width:350px) {
    .main-body-div , .Rec-div {
        grid-template-columns: 1fr 1fr;
        column-gap:5px;
    }
    .image-div {
        width: 100%;
    }
    .random {
        font-size: 0;
        width: 0;
        height: 0;
        color: transparent;
        background-color: transparent;
        border: 0 none;
        margin: 0;
        padding: 0;
       }
       .Second-Section {
        justify-content: flex-end;
        width: 60px;
    }
}
@media (min-width:351px) and (max-width:400px) {
    .main-body-div , .Rec-div  {
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
    }
   .random {
    font-size: 0;
    width: 0;
    height: 0;
    color: transparent;
    background-color: transparent;
    border: 0 none;
    margin: 0;
    padding: 0;
   }
   .Second-Section {
    justify-content: flex-end;
    width: 60px;
}
}
@media (min-width:401px) and (max-width:500px) {
    .main-body-div , .Rec-div {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;

    }
}
@media (min-width:501px) and (max-width:700px) {
    .main-body-div , .Rec-div {
        grid-template-columns: 1fr 1fr 1fr  ;
        column-gap: 10px;
    }
}
@media (min-width:701px) and (max-width:909px) {
    .main-body-div , .Rec-div {
        grid-template-columns: 1fr 1fr 1fr 1fr  ;
    }
}
@media (min-width:910px) and (max-width:1115px) {
    .main-body-div , .Rec-div {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        column-gap: 5px;
    }
}
@media (min-width:1116px)and (max-width:2000px) {
    .main-body-div , .Rec-div {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        
    }
    .main-body-div , .Rec-div  {
        width:1000px
    }
}