<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
   <meta name="description" content="Watch free anime online at AniPub! Stream Naruto, One Piece, Attack on Titan, and more. Join our anime community today!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta name="keywords" content="anime,Hianime,gogoanime,anilab,9anime.gogoanime,zoro,free anime streaming, anime online, Naruto episodes, One Piece streaming, AniPub">
    <title>Anipub</title>
<meta property="og:title" content="Watch Free Anime Online | AniPub">
<meta property="og:description" content="Stream Naruto, One Piece, Attack on Titan, and more for free on AniPub. Join our anime community!">
<meta property="og:type" content="website">
<meta property="og:url" content="https://anipub.xyz">
<meta property="og:image" content="https://www.anipub.xyz/luffy5.png">
<meta property="og:site_name" content="AniPub">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- FavicoAdded -->
    <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="anipub.css">
    <link rel="stylesheet" href="f-section.css">
    <link rel="stylesheet" href="siteInfo.css">
    <link rel="stylesheet" href="Footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="meAni.css">
    <link rel="stylesheet" href="modal.css">
    <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="media-anipub.css">
    <link rel="stylesheet" href="FinalMedia.css">
    <link rel="stylesheet" href="/changehomeb.css">

</head>

<body>

    <div class="header-div">
        <a href="/Home" target="_blank" class="first-section-a">
            <div class="first-section">
                <div class="logo-div">
                    <img class="logo" src="Logo-1.png" alt="">
                </div>
                <div class="details">
                    <p class="name">AniPub</p>
                    <p class="slogan" style="margin-left: 1px; margin-top: -2px;">Yamate Kudasai</p>
                </div>
            </div>



        </a>
        <div class="Second-Section">
            <a href="/Home">
                <button class="home-button">Home</button>
            </a>
            <a href="/About-US"><button class="about-us">About Us</button>
            </a>
            <!-- <a href="Help">
                <button class="help-button">
                    ?
                </button>
            </a> -->
        </div>
    </div>

    <!---🚨 -->

    <div class="f-section">

        <div class="An-div">
            <div class="First-section">
                <div class="header"><span>🚨</span>
                    <p class="hp"> <span> New Announcement:</span> Welcome to AniPub!</p><span>🚨</span>
                </div>
                <div class="im-div">
                    <img class="logo-l" src="luffy5.png" alt="">
                </div>
            </div>
            <div class="second-section">
                <div class="img-div">
                    <img class="logo2" src="luffy3.png" alt="">
                    <a target="_blank" href="https://github.com/AnimePub/"> <button class="Git-button">
                            <img class="git-im" src="github.svg" alt="">
                            Githhub
                        </button></a>
                    <a target="_blank" href="https://www.facebook.com/adnandluffy.atomic"> <button class="fb-b">
                            <img class="f-p" src="fb.svg" alt="">Facebook
                        </button></a>
                    <div class="construction">
                        <img class="ci" src="construction.png" alt="">

                    </div>
                    <a href="/Home">
                        <div class="an-d">
                            <button class="">Home</button>
                        </div>
                    </a>
                </div>
                <div class="ann-div">
                    <div>
                        <p class="start">Ahoy, Nakama!! 🏴‍☠️</p>
                    </div>
                    <div class="s">
                        <p class="s2">
                            The time has come to set sail .<span class="s6"> Get ready to embark on an adventure filled with mysteries, excitement, and the thrill of youth!</span>
                        </p>
                    </div>
                    <div class="s">
                        <p class="s3"> <span class="s6">Imagine the explosive power of Naruto’s Rasengan colliding with the heart-pounding romance of youth! It’s a world where dreams come true and friendships are forged in the heat of battle!</span>

                            Everything lies beyond the Red Line, and we’re ready to navigate those uncharted waters together aboard the Thousand Sunny!
                    </div>
                    <div class="s">
                        <p class="s4">So grab your crew, hoist the sails, and let’s dive into a treasure trove of anime adventures! Join us as we share our passion, make new friends, and create memories that will last a lifetime!</p>
                    </div>





                </div>



            </div>

        </div>



        <div class="con-tainer alukha">
            <video id="my-video" class="video-js video-js2" controls poster="Thumbnail/thumbnail1.jpg" preload="auto" width="600" height="400" data-setup="{}">
                <source src="one-piece-final-saga.mp4" type="video/mp4">
            </video>
            <img class="ship" src="TTS.png" alt="">
        </div>





    </div>




    <div class="abt-site">


        <div class="main-container">
            <div class="con-tainer2">

                <video id="my-video" controls poster="Thumbnail/thumbnail2.jpg" preload="auto" class="video-js2 video-js" data-setup="{}">
                    <source src="Doflamingo-ASMV-Justice-Will-Prevail-One-Piece.mp4" type="video/mp4">
                </video>


            </div>

            <div class="ReviewS">
                <div class="r-vtitle">Reviews</div>
                <div class="ReviewS-c r-rv">
                    <div class="img-dp">
                        <img class="profile-pic" src="Zoro.png" alt="">
                    </div>
                    <div class="pi-div">
                        <p class="nameprofile">Roronoa Zoro</p>
                        <p class="desc">I lost my way while searching for the best anime, and somehow I stumbled upon this site. Now, I can’t seem to leave! It’s as solid as my swords, packed with great discussions and insights. If you’re a true anime fan, you’ll find yourself hooked just like I am! </p>

                    </div>
                </div>

                <div class="ReviewS-c">
                    <div class="img-dp">
                        <img class="profile-pic" src="Naruto.png" alt="">
                    </div>
                    <div class="pi-div">
                        <p class="nameprofile">Naruto Uzumaki</p>
                        <p class="desc">This website is awesome! It’s like a gathering of all my ninja friends talking about the best anime. The energy here is incredible, and it makes me want to watch even more. Let’s go on an anime adventure together! Dattebayo!</p>
                    </div>
                </div>

                <div class="ReviewS-c">
                    <div class="img-dp">
                        <img class="profile-pic" src="Eren.jpg" alt="">
                    </div>
                    <div class="pi-div">
                        <p class="nameprofile">Eren Yeager</p>
                        <p class="desc">This site captures the essence of what it means to be a true anime fan. It’s raw and real, just like the battles we face. If you want to understand the struggles and triumphs in anime, you’ve found the right place. Tatakae</p>
                    </div>
                </div>
                <div class="ReviewS-c">
                    <div class="img-dp">
                        <img class="profile-pic" src="Bell.jpg" alt="">
                    </div>
                    <div class="pi-div">
                        <p class="nameprofile">Bell Cranell</p>
                        <p class="desc">This site feels like a new dungeon waiting to be explored! The discussions about heroism and adventure in anime inspire me, and I love connecting with others who share the same passion for epic journeys!</p>
                    </div>
                </div>


            </div>


            <div class="dialog-div" style="height: fit-content; padding-top: 10px;
   padding-bottom: 10px;">
                <div class="texts">
                    <p class="ti-tle">┌──(user(>-<)AniPub)-[~]< /p>
                            <p class="text1">└─$ AniPub</p>
                            <p class="text2">└─$ Fast, Secure and convenient</p>
                            <p class="text3">└─$ Dattebayo !</p>
                </div>

                <dialog class="dialog">

                    <p class="salam">Assalamualaikum</p>
                    <p class="intro">Hope you like this Site Anipub.
                        We don't host any video in our server ! It's
                        All hosted from third party's source !
                        Also we are adding features everyday ! Stay Tune and
                        Find Anime in the Home page
                        <a href="/Home">Home</a>
                        So if you wanna contribute in this project feel free
                        to do so! suggestion appreciated (>-<) </p>
                            <p class="info">Info:-</p>
                            <p class="nameM">Name:Abdullah Al Adnan</p>

                            <div class="b-m-div">
                                <a target="_blank" href="https://github.com/AnimePub/"><button class="Git-buttonM">
                                        <img class="git-im" src="github.svg" alt="">
                                        Githhub
                                    </button></a>
                                <a target="_blank" href="https://www.facebook.com/adnandluffy.atomic"> <button class="fb-bM">
                                        <img class="f-p" src="fb.svg" alt="">Facebook
                                    </button> </a>
                            </div>
                            <div class="wmdiv">
                                <p class="Wm">Do you want to leave this ?</p>
                            </div>

                            <div class="lbm"><button class="leave">Yes</button><button class="stay">No</button></div>




                </dialog>
                <div class="buttons">
                    <button class="d-m-button">Dev's Message</button>

                </div>
            </div>

        </div>


        <div class="p-container">
            <div class="he-ader">
                <p class="title">Ahoy, Nakama! Welcome to AniPub!</p>
                <p class="question1">Why You Should Set Sail with AniPub! </p>
                <p class="description">Hey there, fellow anime lovers! It’s me, Luffy! If you’re looking for a place to dive into the amazing world of anime, then AniPub is the treasure you’ve been searching for! Here’s why you should join me on this epic adventure:</p>
            </div>
            <div class="container2">
                <div class="m-div">
                    <p class="question2">1.Super Easy to Navigate!</p>
                    <p class="description2">Just like sailing the Grand Line, navigating AniPub is a piece of cake! Our website is designed so that even a kid can find their way around. With bright colors and simple menus, you won’t get lost! Whether you’re a newbie or a seasoned pirate, you’ll be able to find your favorite shows and discover new ones without any trouble. It’s as easy as stretching my rubber arms!</p>
                </div>
                <div class="m-div">
                    <p class="question2">2.Cross the Red Line to Find Your Treasure!</p>
                    <p class="description2">At AniPub, we believe that every anime fan deserves to find their own treasure! Just like crossing the Red Line, you’ll embark on a thrilling journey filled with surprises. With our special recommendations and curated lists, you’ll uncover hidden gems that’ll make your heart race! Get ready to set sail on an adventure where every click brings you closer to the anime you’ve been dreaming of!</p>
                </div>
                <div class="m-div">
                    <p class="question2">3.Feel the Romance and Thrill!</p>
                    <p class="description2">Get ready for some heart-fluttering moments! At AniPub, you can experience the sweet romance of shows like Tonikaku Kawaii and Shikimori-san is Just a Cutie. They’ll make you feel all warm and fuzzy inside! And if you’re craving action, you’ll find thrills that pack a punch, just like my Gear Fourth! Whether it’s Sasuke’s Chidori or Saitama’s epic punches, we’ve got the adrenaline rush you’re looking for!</p>
                </div>
                <div class="m-div">
                    <p class="question2">4.Relive Your Youthful Adventures!</p>
                    <p class="description2">Anime has a magical way of bringing back the joy of youth! At AniPub, you can relive those exciting moments and feel like a kid again! Join a crew of fellow anime fans who share your passion and excitement. Together, we’ll explore new worlds, share our favorite stories, and create unforgettable memories! It’s like having your own Straw Hat crew, ready to take on any adventure!
                    </p>
                </div>

                <div>
                    <p class="title">Join Me on This Epic Journey at AniPub!</p>
                    <p class="description">So what are you waiting for, nakama? AniPub isn’t just a website; it’s a grand adventure waiting for you! With our easy-to-use design, treasure-hunting features, and a treasure trove of genres, you’ll find everything you need to satisfy your anime cravings. Let’s set sail together and discover the amazing world of anime at AniPub!

                        Grab your straw hat, and let’s go find some treasure!</p>
                </div>



            </div>



        </div>






    </div><%- include("./include/footer.ejs") %>
    <script src="modal.js"></script>
    <script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "AniPub",
  "url": "https://anipub.xyz",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://anipub.xyz/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
</body>

</html>
