<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message - Anipub</title>
    <meta name="description" content="Notification Page - A Free Anime Watching Site built by Anime Loves for Anime Lovers">

    <style>
        body {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding-top: 100px;
        }

        .alu {
            font-size: 40px;
            font-family: monospace;
            color: rgb(255, 255, 255)
        }
    </style>
</head>

<body style="background-color: rgb(0, 0, 0);">

    <% Msge.forEach(value => {%>
    <p class="alu"><%= value %> </p>
    <% }); %>
    <p class="alu time"></p>


    <script>
        const time = document.querySelector(".time");
        let settime = 10;

        setInterval(() => {
            time.innerText = (settime + "s");
            settime--;

            if (settime === 0) {
                Reload()
            }
        }, 1000)

        function Reload() {
            window.location.href = "/Home"
        }
    </script>
</body>

</html>