<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    <meta name="description" content="Sign-Up Page - A Free Anime Watching Site built by Anime Loves for Anime Lovers">

    <link rel="stylesheet" href="header-sign-up.css">
    <link rel="stylesheet" href="sign-up.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap" rel="stylesheet">
</head>

<body>




    <div class="header-div">
        <a href="/" target="_blank" class="first-section-a">
            <div class="first-section">
                <div class="logo-div">
                    <img class="logo" src="Logo-1.png" alt="">
                </div>
                <div class="details">
                    <p class="name">AniPub</p>
                    <p class="slogan" style="margin-left: 1px; margin-top: -2px;">Yamate Kudasai</p>
                </div>
            </div>
        </a>

        <div class="Second-Section">
            <a href="/about-us" style="text-decoration:none"><button class="about-us">About Us</button></a>
            <button class="help-button">
                ?
            </button>
        </div>
    </div>




    <div class="box">


        <div class="container">
            <div class="logo-section">
                <div class="logo-divA">
                    <img class="logoA" src="Logo-1.png" alt="">
                </div>
                <div class="detailsA">
                    <p class="nameA">AniPub</p>
                    <p class="sloganA" style="margin-left: 1px; margin-top: -2px;">Yamate Kudasai</p>
                </div>
            </div>
            <p class="r-n" style="color: red;"></p>

            <form>
                <div class="full-name-div">
                    <input class="full-name" id="user-name" type="text" placeholder="Your Full Name" title="Enter Your full Name" name="Name">
                </div>
                <div class="username-div">
                    <input class="username" id="MAil" type="email" placeholder="Email or Username" autocomplete="username" name="Email">
                </div>
                <div class="pass-div">
                    <input class="pass" id="paSsword" type="password" placeholder="Password" autocomplete="new-password" name="Password">
                </div>
                <div class="c-pass-div">
                    <input name="cpass" class="c-pass" id="c-pass" type="password" placeholder="Confirm Your Password" title="Confirm your Password" autocomplete="new-password">
                </div>


                <div class="Hulu">
                    <a target="_blank" style="text-decoration-color: rgba(245, 245, 245, 0.664); color:rgba(255, 255, 255, 0.808) ; font-size: 17px;" href="" style="display: block;">Forgot Passward</a>
                </div>

                <button class="registar-up-button">Registar</button>
            </form>
            <button onclick="window.location.href=`/Login`" class="login-button">Login</button>

        </div>

    </div>



    <script src="Sign-Up.js"></script>
</body>

</html>