<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player | AniPub </title>
</head>
<body>
    <iframe <%=alu%> sandbox="allow-same-origin allow-scripts" gyroscope picture-in-picture autoplay scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" allowfullscreen geolocation style="height:100%;width: 100%;"></iframe>
</body>
</html>