 <link rel="stylesheet" href="/Footer.css">
 <footer>
     <div class="Footer">
         <div class="FDIV">
             <p class="FName">AniPub</p>
             <p class="fdes">
                 Your ultimate destination for anime eps, reviews, and community discussions
             </p>
             <div class="FB-Div">
                 <a href="https://github.com/AnimePub">
                     <button>
                         <img src="/github.svg" alt="">
                     </button></a>
                 <a href="https://www.facebook.com/adnandluffy.atomic">
                     <button>
                         <img src="/fb.svg" alt="">
                     </button>
                 </a>

             </div>
         </div>
         <div class="SDIV">
             <p class="PreviewL">Quick Links</p>
             <a target="_blank" href="https://anipub.xyz/Home">Home</a>
             <a target="_blank" href="https://anipub.xyz/Sign-Up">Sign-Up</a>
             <a target="_blank" href="https://anipub.xyz/About-Us">About US</a>
             <a target="_blank" href="https://anipub.xyz/Privacy-policy">Privecy Policy</a>
             <a target="_blank" href="https://anipub.xyz/Random">Random</a>   
            </div>

     </div>
     <div class="last-div">
         <p style="width: 100%; text-align: center; margin-top: 20px;">Copyright &bull;&copy;AniPub 2025.All rights reserved</p>
         <p style="width: 100%;text-align: center;">Made with ❤️ By AniPub Community</p>
     </div>
 </footer>