  <footer>
        <div class="Footer">
            <div class="FDIV">
        <p class="FName">AniPub</p>
        <p class="fdes">
           Your ultimate destination for anime eps, reviews, and community discussions
        </p>
        <div class="FB-Div">
            <button>
                <img src="/github.svg" alt="">
            </button>
            <button>
                <img src="/fb.svg" alt="">
            </button>
        </div>
       </div>
       <div class="SDIV">
        <p class="PreviewL">Quick Links</p>
        <a target="_blank" href="/Home">Home</a>
        <a target="_blank" href="/Sign-Up">Sign-Up</a>
        <a target="_blank" href="/About-Us">About US</a>
        <a target="_blank" href="/Privacy-policy">Privecy Policy</a>
       </div>

        </div>
       <div class="last-div">
<p style="width: 100%; text-align: center; margin-top: 20px;">Copyright &bull;&copy;AniPub 2015.All rights reserved</p>
<p style="width: 100%;text-align: center;">Made with ❤️ By AniPub Community</p>
</div>
    </footer>