<header class="header-div">
    <a href="/Home" target="_blank" class="first-section-a">
        <div class="first-section">
            <div class="logo-div">
                <img class="logo" src="/Logo-1.png" alt="">
            </div>
            <div class="details">
                <p class="name">AniPub</p>
                <p class="slogan" style="margin-left: 1px; margin-top: -5px;">Yamate Kudasai</p>
            </div>
        </div>
    </a>
    <div class="Search-Box-Area">
        <input class="searchbox" type="text" placeholder="Search">
        <button class="search-button"></button>
        <div class="SBOX">
<div class="sbf" style="display: none;">
           
        </div>
        </div>
        
    </div>

    <div class="Second-Section">
        <a href="/Random"><button class="random">Random</button></a>

        <% if(auth === true) { %>
            <% const LinkPr =  Link;
                            const PrArray = LinkPr.split("https://");
                            let PrLink = "";
                            if(PrArray.length > 1){
                                PrLink = "https://" + PrArray[1]; 
                            }
                            else {
                                 PrLink= "/ProfilePic/"+PrArray[0]
                            } %> 
        <button class="profile-icon" title="Profile Menu">
            <img style="width: 50px; height: 50px;  object-position: center;border-radius: 50%;" src="<%= PrLink %> " alt="">
        </button>
        <% } else {%>
        <button class="profile-icon" title="Profile Menu">
            <img style="width: 50px; height: 50px;  object-position: center ; border-radius: 50%;" src="<%= Link %>" alt="">
        </button>
        <% } %>
    </div>
</header>