<header> 
    <div class="margin">
        <div class="logo-div">
            <img class="logo" src="/Nemuri_Kayama_Anime_Action.webp" alt="">
        </div>
        <div class="Name">
             <p>🚨Ani-Pub <%= SectionName %> 🚨</p>
        </div>
       
    </div>
</header>