<link rel="stylesheet" href="JHeader.css">

<header class="site-header">
    <div class="header-container">
        <div class="logo-div">
            <a href="/"><img class="logo" src="favicon.ico" alt="AniPub Logo"></a>
        </div>
        <nav class="navbar">
            <a href="/" class="nav-link">Home</a>
            <a href="/contact" class="nav-link">Contact</a>
            <a href="/about-us" class="nav-link">About US</a>
        </nav>
    </div>
</header>
