<link rel="stylesheet" href="JHeader.css">

<header class="site-header">
    <div class="header-container">
        <div class="logo-div">
            <a href="/"><img class="logo" src="/Logo-1-AniPub.png" alt="AniPub Logo"></a>
        </div>
        <nav class="navbar">
            <a href="/Home" class="nav-link">Home</a>
            <a href="/Terms" class="nav-link">Terms</a>
            <a href="/about-us" class="nav-link">About US</a>
        </nav>
    </div>
</header>