.Info-container {
    height: 85%;
    width: 100%;
    justify-content: space-between;
    display: flex;
    position: relative;
    column-gap: 10px;
}
.Info-container::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(/Logo-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.3;
}
.Info-container p {
    color: rgb(255, 255, 255);
    font-weight: bold;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}
.Detailes {
    margin-left: 10px;
    width: 400px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    
}
.Detailes span , .Description {
    margin-left: 6px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    font-family: Verdana;
}
.Name {
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Description-container {
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Des-title {
    font-size: 30px;
    margin-bottom: 10px;
}
.Description-div  {
    width: 100%;
    height: 100%;
    
    overflow-y: scroll;
}

.Description-div::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
}
.Description-div::-webkit-scrollbar-corner {
    height: none;
    width: none;
}
.Description-div::-webkit-scrollbar-thumb {
    background-color: skyblue;
    border-radius: 10px;
    
}
.Description-div::-webkit-scrollbar-track {
    background-color: rgb(0, 119, 255);
    border-radius: 10px;
}
