.main-body {
    height: fit-content;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
body {
    padding-top: 100px;
    padding-left: 100px;
}
.main-body h1,h2,h3,h4,h5,h6,p {
    color: white;
    margin-top: 10px;
}
a {
    color: red;
    margin-left: 10px;
}