@media screen and (min-width:1160px) and (max-width:1250px){
    .Detailes {
        max-width: 350px;
    }
}
@media screen and (min-width:1090px) and (max-width:1159px) {
    .Info-container {
        flex-direction: column;
        row-gap: 20px;
        margin-top: 70px;
    }
    .Second-Section {
        height: fit-content;
    }
}
@media screen and (min-width:400px) and (max-width:1089px){
    .first-section {
        height: fit-content;
        width: 100%;
    }
    .Container-No1 {
        position: relative;
        width: 100%;
        padding: 0;
        border: 0;
    }
    .cover-pic-div {
        position: absolute;
        height: 300px;
        width: 100%;
        bottom: -310px;
    } 
    .Marker {
        display: none;
    }
    .Second-Section {
        margin-top: 310px;
        width: 100%;
    }
    

}
@media screen and (min-width:700px) and (max-width:770px) {
    .Detailes {
        width: 350px;
    }
}
@media screen and (min-width:400px) and (max-width:699px) {
    .Info-container {
        flex-direction: column;
        row-gap: 20px;
        margin-top: 70px;
    }
    .Second-Section {
        height: fit-content;
    }
    .Download-Button p {
        display: none;
    }
    .Download-Button  {
        width: 50px;
    }
    .Add-to-watchlist-button p {
        font-size: 14px;
        font-family: sans-serif;
        width: fit-content;
    }
    .Second-Section  {
    padding-right: 0;
    }
    .Container-No1 {
        border: 0;
    }
}
@media screen and (min-width:300px) and (max-width:399px) {
    .first-section {
        height: fit-content;
        width: 100%;
    }
    .Container-No1 {
        position: relative;
        width: 100%;
        padding: 0;
        border: 0;
    }
    .cover-pic-div {
        position: absolute;
        height: 300px;
        width: 100%;
        bottom: -310px;
    } 
    .surer-div {
        width: 100%;
        height: fit-content;
    
    }
    .Marker {
        display: none;
    }
    .Detailes {
       width: 90%;
    } 
    .Second-Section {
        margin-top: 310px;
        width: 100%;
        height: fit-content;
        padding-right: 0;
    }
    
    .Info-container {
        flex-direction: column;
        row-gap: 20px;
        margin-top: 70px;
        width: 100%;
    }
    .Download-Button p {
        display: none;
    }
    .Download-Button  {
        width: 50px;
    }
    .Add-to-watchlist-button:hover p {
        display: none;
    }
    .Container-No1 {
        border: 0;
    }

    .Info-container {
        flex-direction: column;
        row-gap: 20px;
        margin-top: 70px;
    }
    .Second-Section {
        height: 630px
    }
    .Description-div {
        height: 200px;
    }
    .Download-Button p {
        display: none;
    }
    .Download-Button  {
        width: 50px;
    }
    .Add-to-watchlist-button p {
        display: none;
    }
    .Second-Section  {
    padding-right: 0;
    }
    .Container-No1 {
        border: 0;
    }
}
@media screen and (min-width:300px) and (max-width:385px) {
    .profile-div {
        height: 200px;
        width: 150px;
        top: -150px;
    }
    .buttons {
        margin-left: 160px;
    }

}
@media screen and (min-width:300px) and (max-width:350px) {
    .Download-Button {
        display: none;
    }
}
@media screen and (min-width:1380px){
.cover-pic-div{
    width: 63%;
}

.Container-No1  {
    width: 40%;
}
.Description-div  {
    width: 90%;
}
.first-section  {
    height:340px;
}
.Second-Section {
    height: 408px;
}
}

@media screen and (min-width: 1160px) and (max-width:1378px) {
    .third-section {
    margin-top: 140px;
    }
}
@media screen and (min-width: 300px) and (max-width:389px) {
    .Second-Section {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .Description-div {
        height: 180px;
    }
    .list-div-container {
        width: 100%;  
    }
   
}
 