.third-section {
    width: 1;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.recommendation-main {
    width: 75%;
    padding-top: 60px;
    position: relative;
    background-color: rgba(92, 89, 89, 0.235);
}

.recommendation-title {
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: blue;
    display: Flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-family: Gruppo;
    font-weight: bolder;
    font-size: 40px;
}

.recommendation-div {


    margin-left: 10px;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 10px;
    row-gap: 10px;
    column-gap: 10px;
}

.Profile-div {
    margin-top: 20px;
    max-height: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Profile {
    height: 300px;
    padding-bottom: 10px;
    width: 200px;
    background: linear-gradient(145deg, rgba(20,20,20,0.75), rgba(0,0,0,0.35));
    display: flex;
    box-shadow: 0px 10px 26px rgba(0,0,0,0.55);
    border-radius: 10px;
    flex-direction: column;
    justify-content: start;
    cursor: pointer;
    border: 1px solid rgba(59,130,246,0.18);
    transition: transform 0.18s ease, box-shadow 0.18s ease, border-color 0.18s ease;
}

.Profile:hover {
    transform: translateY(-3px);
    box-shadow: 0px 14px 34px rgba(0,0,0,0.7);
    border-color: rgba(59,130,246,0.45);
}

.Profile:active {
    opacity: 0.7;
}

.Image-div {
    height: 70%;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.poster {
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
    transform: scale(1.02);
    transition: transform 0.25s ease;
}
.Profile:hover .poster{
    transform: scale(1.06);
}

.Title-div {
    font-size: 20px;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    height: 30px;
    color: white;
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
    align-items: center;
    overflow: hidden;

}

.Title-div::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.Title-div p {
    white-space: nowrap;
}

.ratings-div {
    height: 20px;
    margin-top: 5px;
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
    justify-content: space-between;
    align-items: start;
}

.ratings-div p {
    color: white;
    font-family: monospace;
    font-size: 15px;
}

.ratings-div img {
    height: 85%;
}

.des-div {
    overflow: hidden;
    height: 32px;
    width: 100%;
    color: rgba(235,235,235,0.88);
    margin-top: 5px;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

/* Responsive cards + grid density */
@media screen and (max-width: 1024px) {
    .Profile {
        width: 180px;
        height: 290px;
    }
}

@media screen and (max-width: 768px) {
    .Profile-div {
        min-height: 230px;
    }
    .Profile {
        width: 170px;
        height: 270px;
    }
    .Title-div {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .Profile {
        width: 160px;
        height: 260px;
    }
    .ratings-div p {
        font-size: 13px;
    }
}

.des-div p {
    font-size: 10px;
}